extends layout
block css
    link(rel='stylesheet', href='/stylesheets/index.css')
block content
    div.chat-box
        //- 聊天框头部
        div.chat-header
            div.button-box
                input(type="button",class="log-out",value="LOGOUT")
        //- 聊天框主体
        div.chat-body
            //- 聊天框左侧
            div.chat-body-left
                //- 聊天框左侧聊天内容
                div.chat-content
                //- 聊天框左侧聊天输入框
                div.chat-edit
                    input(type="text",class="edit-box",placeholder="Please Type You Message",maxlength="15")
                    input(type="button",class="edit-button",value="SEND")
            //- 聊天框右侧
            div.chat-body-right
                //- 聊天框右侧统计人数
                div.online-count Online:0
                //- 聊天框右侧用户名  
                div.user-name user-name
                //- 聊天框右侧头像
                img.user-img
block js
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/index.js')